<img src="/assets/descarga.png">
<% if !signed_in? %>
  <h3>Para poder navegar con total libertar inicia secion o registrate, dependiendo del rol que se te asigne podras ver
    o modificar las tablas permitidas
  </h3>
<% end %>
